* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}



 /* html {
    scroll-behavior: smooth; 
} */
    
    ::-webkit-scrollbar{
        width: 15px;
    }
    ::-webkit-scrollbar-track{
        background: rgb(0, 238, 255);
    }
    ::-webkit-scrollbar-thumb{
        background: #fff;
        border-radius: 20px;
    }

header {
    width: 100%;
    max-height: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 99;
    background: #000000;
  
}

.container {
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 120px;
    height: 90px;

    background-image: url(../img-person/logo-dev.png);
    background-position: center top 5px;
    background-size: contain;
    background-repeat: no-repeat;
   
}

header nav #menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    position: relative;
}

header nav #menu a {
    font-size: 22px;
    color: #ca0808;
    transition: .5s;
    text-decoration: none;
}

header nav #menu a:hover {
    background: #ccc;

}

header nav #btn-mobile {
    padding: .5rem 1rem;
    cursor: pointer;
    border: 0;
    display: none;

}


/* ********************************** Section Florest  ********************************* */
.box-florest {

    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    
}

.box-florest .img-florest{
    width: 100%;
  
    background-position: center top ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.container-wall{
    width: 100%;
    height: 200px;
    background-image: url(../img-person/white-wall.jpg);
    background-size: contain;
    background-repeat: repeat-x;
         
}
.container-wall .wall{
display: flex;
justify-content: space-between;

}
.container-wall .grafite{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: 200px;
    font-size: 20px;
    background: #eeebde8e;
    text-align: center;
    
    font-family: 'Black Ops One', cursive;  
}

.motorcycle-wall {
    width: 150px;
    height: 100px;

    background-image: url(../img-motorcycle/motorcycle-svg-header.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 5px 5px #ff1100);
    cursor: pointer;
}


section.box-avenue {
    width: 100%;
    height: 400px;

    position: relative;
 
    background: #2c2b2b;
    padding-top: 40px;
    perspective: 1000px;

    border-bottom: 20px solid;
    border-image: url(../img-person/white-wall.jpg) 30 round;
    overflow: hidden;
}

section.box-avenue .short-wall {
    width: 100%;
    height: 10px;

    background-image: url(../img-person/white-wall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.box-avenue .avenue {
    width: 100%;
    height: 100%;
    background: #2c2b2b;

    transform: rotateX(60deg);
    position: absolute;
    top: -40px;
}

section.box-avenue .crosswalk {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;

}

section.box-avenue .crosswalk span {
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
}

section.box-avenue .retention-line {
    width: 400px;
    height: 100%;

    position: absolute;
    left: 450px;
    top: 0;

    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
}

section.box-avenue .transit-line {
    width: 80%;
    height: 100%;
    background: #2c2b2b;

    display: flex;
    gap: 40px;
    align-items: center;

    position: absolute;
    top: 0;
    left: 900px;
}

section.box-avenue .transit-line>span {
    display: block;
    width: 100%;
    height: 10px;
    background: #fff;

}

section.box-avenue .motorcycle {
    width: 150px;
    height: 90px;
    right: -150px;

    position: absolute;
    z-index: 99;

    background-image: url(../img-motorcycle/motorcycle-001.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
}


section.box-avenue .flower-bed {
    width: 100%;
    height: 100px;

    position: absolute;
    bottom: 0;

    background-image: url(../vegetations/grass-159804.svg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 99;
}

section.box-avenue .palm-trees {

    min-width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

section.box-avenue .palm-trees .palm-tree {
    width: 400px;
    height: 450px;
    flex: 1 1 200px;
    position: relative;
    bottom: 50px;

    background-image: url(../vegetations/palm-trees-308604.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


    transform: rotate(45deg);
    z-index: 99;
}

/* ********************************** Section Parking  ********************************* */

section.parking {
    width: 100%;
    max-height: 100%;
    background: #2c2b2b;
    position: relative;
    perspective: 1000px;
}

section.parking > h1{

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 150px;
    font-size: 100px;  
    padding: 10px;
    background: #f0cc03;
    position: absolute;
    top: -50px;
    transform: rotateX(60deg);
    overflow: hidden;
    
    
}

section.parking .container {
    max-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    gap: 30px;               

}

section.parking .img-car {
    height: 300px;
    width: 300px;
    flex: 1 1 300px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
    position: relative;

}

section.parking .img-car:hover {
    filter: drop-shadow(5px 5px 5px #ff1100);
}

section.parking .text-car{

    width: 300px;
    height: 0px;

    background: #e3c902;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}

section.parking .activeText{
    height: 150px;
    opacity: 1;
    padding: 10px;
    text-align: justify;
}
/* ********************************** Section Parking  ********************************* */


section.contato{
    width: 100%;
    height: 700px;
    background: #c41111;
}
/* ********************************** Animation motorcycle  ********************************* */

@keyframes move-motorcycle {
    0% {
        right: -150px;
    }

    50% {
        right: 50%;
    }


    100% {
        right: 150%;
    }

}

/* ********************************** Media Queries ********************************* */
@media screen and (max-width:720px) {
    header nav #btn-mobile {
        display: flex;
    }

    header nav #menu {
        flex-direction: column;
        gap: 0;
        height: 0;
        width: 100%;
        background: #130101;

        background-image: url(../img-person/avatar-dev--01.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;


        position: absolute;
        top: 110px;
        left: 0;
        visibility: hidden;
        overflow: hidden;
        transition: 1s;

    }

    header nav.active #menu {
        display: block;
        height: 100vh;
        visibility: visible;
        overflow: hidden;
    }

    header nav #menu a {
        text-decoration: none;

    }

    header nav #menu a:hover {
        background: none;
    }

    header nav li {
        border-bottom: 1px solid #bbbb;
        padding: 1rem
    }

    header nav li:hover {
        background: #bbbb;

    }

    .container-wall .grafite:nth-child(4){
       display: none;
    
    }

}