*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}

html,body{
    height: 2000px;
}

header{
    width: 100%;
    max-height: 100%;
    padding: 5px 0;
    position: fixed; 

    background-image: url(../img-person/white-wall.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    border-bottom: 15px solid ;
    border-image: url(../img-person/white-wall.jpg) 30 round;
    z-index: 99;
}


header .container{
max-width: 1200px;
padding: 0 2%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
header .logo{
    width:120px;
    height: 90px;

    background-image: url(../img-person/logo-dev.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
header .motorcycle-header{
    width: 150px;
    height: 100px;
    /* background: red; */

    background-image: url(../img-motorcycle/motorcycle-svg-header.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 5px 5px #ff1100);
    cursor: pointer;
}

header nav #menu{
    display: flex;
    list-style-type: none;
    gap: 40px;
    position: relative;
}

header nav #menu a{
    font-size:22px;
    color: #ca0808;
    transition: .5s;
    text-decoration: none;
}
header nav #menu a:hover{
    background: #ccc;

}
header nav #btn-mobile{
    padding: .5rem 1rem;
    cursor: pointer;
    border: 0;
    display: none;
   
}

/* ********************************** Statr sections ********************************* */

section.box-avenue{
    widows: 100%;
    height: 400px;

    position: relative;
    top: 125px;

    background: linear-gradient(75deg,#736464,#432f01);
    padding-top: 40px;
    perspective: 1000px;

    
    border-bottom:30px  solid ;
    border-image: url(../img-person/white-wall.jpg) 30 round;
    overflow: hidden;
}

section.box-avenue .short-wall{
    width: 100%;
    height: 20px;

    background-image: url(../img-person/white-wall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.box-avenue .avenue{
    width: 100%;
    height: 400px;
    background: #2c2b2b;

    transform: rotateX(60deg);
    position: absolute;
    top: -40px;
}

section.box-avenue .crosswalk{
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    gap: 20px;
    
}
section.box-avenue .crosswalk span{
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
}

section.box-avenue .retention-line{
    width: 400px;
    height: 100%;

    position: absolute;
    left: 450px;
    top: 0;

    border-left: 30px solid #fff;
    border-right: 30px solid #fff;
}
section.box-avenue .transit-line{
 width: 80%;
 height: 100%;
 background: #2c2b2b;

 display: flex;
 gap: 40px;
 align-items: center;

 position: absolute;
 top: 0;
 left: 900px;
}
section.box-avenue .transit-line> span{
    display: block;
    width: 100%;
    height: 10px;
    background: #fff;

}

section.box-avenue .motorcycle{
    width: 150px;
    height: 110px;
    right:20px ;

    position: absolute;
    z-index: 99;

    background-image: url(../img-motorcycle/motorcycle-001.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation:  move-motorcycle ease  15s ;
}

section.box-avenue .flower-bed{
    width: 100%;
    height: 100px;


    position: absolute;
    bottom: 0;

    background-image: url(../vegetations/grass-159804.svg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 99;
}

section.box-avenue .palm-trees{
    width: 3000px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
   
}

section.box-avenue .palm-trees .tree{
    width: 400px;
    height: 450px;
    flex: 1 1 200px;
    position: relative;
   bottom: 80px;

    background-image: url(../vegetations/palm-trees-308604.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transform: rotate(45deg);
    z-index: 99;
}

/* ********************************** Animation motorcycle  ********************************* */

section.parking{
    width: 100%;
    height: 400px;
    background: #2c2b2b;
    position: relative;
    bottom:  -110px;
    perspective: 1000px;
   
}
section.parking .box-car{
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    background: gray;
    display: flex;
    gap: 100px;

    perspective: 1000px;
    transform: rotateX(60deg);
    transform-origin: bottom;
    position: relative;

}

section.parking .car-spaces{
    width: 400px;
    height: 400px;
    position: relative;
    border: 10px solid yellow;

}
section.parking .car{
    width: 400px;
    height: 400px;
    background-image: url(../img-car/bmw-158703.svg);
    background-position: center;
    /* background-size: cover; */

    background-repeat: no-repeat;
    background-attachment: fixed;
 


    
}

/* ********************************** Animation motorcycle  ********************************* */

@keyframes move-motorcycle {
    0%{
        right: 20px;
    }

    50%{
        right: 60%;
    }

    80%{
        right: 60%;
    }

    100%{
        right: 120%;
    }
    
}

/* ********************************** Media Queries ********************************* */
@media screen and (max-width:720px) {
    header nav #btn-mobile{
        display: flex;
    }

    header nav #menu{
        flex-direction: column;
        gap: 0;
        height: 0;
        width: 100%;
        background: #130101; 
        
        background-image: url(../img-person/avatar-dev--01.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        

        position: absolute;
        top: 110px;
        left: 0;
        visibility: hidden;
        overflow: hidden;
        transition: 1s;

    }

    header nav.active #menu{
        display: block; 
        height: 100vh; 
        visibility: visible;
        overflow: hidden;
    }

    header nav #menu a{
        text-decoration: none;
    
    }
    header nav #menu a:hover{
        background: none;
    }

    header nav li{
        border-bottom: 1px solid #bbbb;
        padding: 1rem

    }

    header nav li:hover{
       background: #bbbb;

    }
    
}
